* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  display: block;
  background-color: #0079bf;
}

.App {
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  gap: 12px;
  padding: 12px;
  overflow-y: hidden;
  overflow-x: auto;
  min-width: 100%;
}

/* width */
.App::-webkit-scrollbar {
  height: 12px;
}
/* Track */
.App::-webkit-scrollbar-track {
  background: #0367a3;
  border-radius: 3px;
  margin: 0 12px;
}
/* Handle */
.App::-webkit-scrollbar-thumb {
  background: #72a4c7;
  border-radius: 3px;
}
/* Handle on hover */
.App::-webkit-scrollbar-thumb:hover {
  background: #72a4c7;
}

.list {
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  align-items: flex-start;
  height: 100%;
}
