* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  background-color: #0079bf;
}

.App {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
  align-items: flex-start;
  height: 100%;
  padding: 12px;
  overflow: auto;
  min-width: 100%;
}
